h1 {
    text-align:left;
    margin: 0 15px 0 30px;
    padding: 0;
    font-size: 44px;
    font-family:'Courier New', Courier, monospace;
    color: #350666;
}

h2 {
    text-align: center;
    margin: 40px 0 0 0;
    font-size: 32px;
    color: #350666;
}

p {
    margin: 0;
    line-height: 26px;   
}

hr {
    margin-bottom: 30px;
    width: 740px;
    height: 3px;
    border: 0;
    background-color: #C79AFF;
}

.center { 
    margin: auto;
    padding: 10px;
    width: 740px;
}

.main-text {
    margin-left: 25px;
    margin-right: 25px;
    font: 16px "Courier New", monospace;
}

.title-text {
    padding: 0;
    margin: 55px 25px 25px 25px;
    font: bold 18px "Courier New", monospace;
}

td {
    padding: 12px;
}

.td-left {
    padding-left: 40px;
    border-left: 2px solid #C79AFF;
}

.td-stars {
    padding-left: 30px;
    padding-right: 40px;
}

.td-left-b {
    padding-left: 40px;
    font-weight: bold;
}