h1 {
    margin: 40px 0 0 70px;
    font-size: 32px;
    color: #350666;
}

p {
    margin: 0;
    line-height: 26px;   
}

.center { 
    margin: auto;
    padding: 10px;
    width: 740px;
}

.main-text {
    margin-left: 25px;
    margin-right: 25px;
    font: 16px "Courier New", monospace;
}

.title-text {
    padding: 0;
    margin: 55px 25px 25px 25px;
    font: bold 18px "Courier New", monospace;
}

.td-left {
    padding-left: 40px;
    border-left: 2px solid #C79AFF;
}

.td-stars {
    padding-left: 30px;
    padding-right: 40px;
}

.td-left-b {
    padding-left: 40px;
    font-weight: bold;
}